<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591878536894-71iispjvkj3a1tvdf06c5tr8nhh99akh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591878536894-71iispjvkj3a1tvdf06c5tr8nhh99akh</string>
	<key>API_KEY</key>
	<string>AIzaSyDf-5ZVrGQrACayaCc6mF3HWdQg_FFb1vw</string>
	<key>GCM_SENDER_ID</key>
	<string>591878536894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookListSample</string>
	<key>PROJECT_ID</key>
	<string>book-list-sample-f6ac8</string>
	<key>STORAGE_BUCKET</key>
	<string>book-list-sample-f6ac8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591878536894:ios:a687017ec264842f0468ef</string>
</dict>
</plist>